/testar/

/removed/

/.ipynb_checkpoints/

/Website/.env
/Website/__pycache__/
/Website/.pytest_cache/

/Website/testesFuncionais/__pycache__/
/Website/testesFuncionais/.pytest_cache/

dockerfileComands.txt

/AzureStruct/.terraform/
/AzureStruct/.terraform.lock.hcl
/AzureStruct/terraform.tfstate
/AzureStruct/terraform.tfstate.backup


