/testar/

/.ipynb_checkpoints/

/Website/.env
/Website/__pycache__/

dockerfileComands.txt

/AzureStruct/.terraform/
/AzureStruct/.terraform.lock.hcl
/AzureStruct/terraform.tfstate
/AzureStruct/terraform.tfstate.backup


